* {
     font-family: 'Open Sans', sans-serif;
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}
 header {
     background-color: #3B2B34;
}
 .title_main {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0px 40px;
}
 h1 {
     color: #ffffff;
     font-size: 43px;
     text-transform: uppercase;
}
 .camera {
     height: 37px;
}
 aside {
     display: flex;
     justify-content: space-between;
     font-size: 31px;
}
 .search_icon {
     width: 267px;
     border-top-left-radius: 8px;
     border-bottom-left-radius: 8px;
     border-style: solid;
     border-color: #ACAAB5;
     font-size: 25px;
     color: #ACAAB5;
     padding-left: 13px 
}
 .fa-search {
     background-color: #ACAAB5;
     color: #ffffff;
     margin-left: -4px;
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
     padding: 7px 5px 5px 8px;
}
 form {
     align-items: center;
     background-color: #3B2B34;
     display: flex;
     flex-direction: column;
}
 label {
     display: flex;
     flex-direction: column;
     color: #908384;
     margin-top: 2.3rem;
}
 .ui_text {
  font-size: 16px;
  font-weight: 400;
}
 #input_title {
     width: 28rem;
     height: 2.5rem;
     margin-top: .5rem;
     border: none;
}
 #input_caption {
     height: 2.5rem;
     width: 28rem;
     margin-top: .5rem;
     border: none;
}
 .input {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
}
 .input + label {
     font-size: 16px;
     font-weight: 400;
     background-color: #5B4447;
     color: #ffffff;
     height: 2.5rem;
     width: 28rem;
     margin-top: 2.4rem;
     display: inline-block;
     text-align: center;
}
 .input:focus + label, .input + label:hover {
     background-color: #938284;
}
 #upload_text {
     position: relative;
     top: 7px;
}
 button {
     background-color: #5B4447;
     border: none;
     color: #ffffff;
     width: 28rem;
}
 .css_view {
     height: 2.5rem;
     width: 12rem;
     margin: 2.7rem 1.9rem;
}
/*------------card-------------*/
 main {
     display: grid;
     grid-template-columns: repeat(auto-fit, 263px);
     grid-gap: 40px;
     justify-content: center;
     margin: 20px 20px;
}
 .card_content {
     max-height: 23rem;
     max-width: 17rem;
}
 h2 {
     text-align: center;
}
 .card_images {
     display: flex;
     justify-content: center;
     width: 17rem;
}
 .card_image {
     max-height: 17rem;
     max-width: 20rem;
}
 h4 {
     word-wrap: break-word;
}
 footer {
     background-color: #5B4447;
     display: flex;
     height: 3rem;
     justify-content: space-between;
}
 button {
     cursor: pointer;
}
 .pic_icon {
     margin: 0px 21px;
     width: 21px;
}
 .delete_me:hover {
     background-color: #ffffff;
}
 .favorite_me:hover {
     background-color: #ffffff;
}
